@model IEnumerable<ProjectDTO.CustomerDTO>

@{
    //ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customer_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.customer_id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.customer_id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.customer_id  })
            </td>
        </tr>
}
    </tbody>
</table>
